.fc th {
    padding: 10px 0px;
    vertical-align: middle;
    background: #F2F2F2;
}

.fc-day-grid-event>.fc-content {
    padding: 4px;
}

#calendar {
    max-width: 1020px;
    margin: 0 auto;
}

.error {
    color: #ac2925;
    margin-bottom: 15px;
}

.event-tooltip {
    width: 150px;
    background: rgba(0, 0, 0, 0.85);
    color: #FFF;
    padding: 10px;
    position: absolute;
    z-index: 10001;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 11px;
}


/* .modal-header
            {
                background-color: #3A87AD;
                color: #fff;
            }*/

.fc-content {
    color: #fff;
}

@media (max-width: 767px) {
    .hidden-mobile {
        display: none;
    }
}

body {
    font-family: 'Arial', 'Cambria', 'Helvetica Neue', 'Source Sans Pro', 'Helvetica', 'sans-serif';
    overflow-x: hidden;
    overflow-y: auto;
}


/* .callout.callout-success {
    border-left-color: #207597 !important;
}

page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #1d80b9;
    border-color: #1d80b9;
} */

.select2-close-mask {
    z-index: 2099;
}

.select2-dropdown {
    z-index: 3051;
}


/* .dash-icon {
    color: #37989d;
    font-size: 15px;
    margin-right: 4px;
}

.fa-circle {
    color: #37989d;
    font-size: 6px !important;
} */

.nav-drop {
    font-size: 10px;
    font-weight: 560;
    text-overflow: ellipsis;
    overflow: hidden;
}

.nav-item {
    font-weight: 570;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

body::-webkit-scrollbar {
    width: 0.5em;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    background-color: #d2d4dc;
    height: 70%;
    border: 1px solid #555555;
    border-radius: 4px;
}

.sido {
    clear: both;
    overflow: auto;
}

.sido::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.btn {
    font-size: 12px !important;
}

.buttons-html5 {
    font-size: 12px !important;
    background: #343a40 !important;
    margin: 6px;
    border-radius: 4px;
}

.buttons-page-length {
    font-size: 12px !important;
    background: #343a40 !important;
    margin: 6px;
    border-radius: 4px;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: grey;
    border-color: grey;
}

.sido::-webkit-scrollbar {
    width: 0.5em;
    background-color: #F5F5F5 !important;
}

.sido::-webkit-scrollbar-thumb {
    background-color: #d2d4dc;
    border: 1px solid #555555 !important;
    border-radius: 4px;
}

.btnkey {
    min-width: 98px;
    ;
    color: #fff !important;
    margin: 2px;
    border-radius: 2px;
}

.rbtnkey {
    min-width: 148px;
    ;
    color: #fff !important;
    margin: 2px;
    border-radius: 2px;
}

.fc-content {
    color: #fff !important;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E4E5E5;
    z-index: 200;
}

#status {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 60%;
    top: 50%;
    background-image: url("/assets/images/loader.gif");
    z-index: 9999;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: -50px 0 0 -50px;
}

fieldset {
    background-color: #eeeeee;
}

legend {
    background-color: gray;
    color: white;
    padding: 5px 10px;
}

section {
    overflow: auto;
}